
@{
    ViewBag.Title = "Work Experience";
}

<div id="bucket">

    @if (ViewBag.msg != null)
    {
        <p id="msg" style="display:none">@ViewBag.msg</p>
    }


    <h3 class="lead fs-3" id="title">Applicant Work Experience</h3>


    <input type="button" class="btn btn-outline-primary" onclick="AddEdit('')" value="Add Work Experience" />
    <br />
    <br />




    @* TABLE BELLOW IS USED TO POPULATE ALL RECORD IN DB *@

    @if (ViewBag.WorkExperience != null)
    {
        <div class="table-responsive">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Company</th>
                        <th>Position</th>
                        <th>Started On</th>
                        <th>Termited On</th>
                        <th>Years Worked</th>
                        <th>...</th>

                    </tr>
                </thead>

                <tbody>
                    @{ int i = 1;}
                    @foreach (var item in ViewBag.WorkExperience as List<Recruitment_Portal_System.Models.ApplicantWorkExperience>)
                    {
                        var ItemCount = ViewBag.WorkExperienceCount;
                        <tr id="row_@item.Id">

                            <td>
                                @if (i <= ItemCount)
                                {
                                    @i
                                }

                            </td>
                            <td>@item.Company</td>
                            <td>@item.Position</td>
                            <td>@item.StartedDate</td>
                            <td>@item.TerminationDate</td>
                            <td>@item.YearsofExperience</td>


                            <td>
                                <div class="d-grid gap-2 col-md-12 mx-auto">

                                    <a href="#" class="text-danger" onclick="ConfirmDeleteRecord('@item.Id')"><span class="fa fa-2x fa-trash-o"></span> </a>

                                    <a href="#" class="text-success" onclick="AddEdit('@item.Id')"><span class="fa fa-2x fa-pencil-square-o"></span> </a>
                                </div>

                            </td>
                        </tr>
                        i++;
                    }
                </tbody>

            </table>

        </div>
    }



    @* MODAL BELLOW IS USED  FOR NEW/EDIT RECORD *@
    <div class="modal fade" id="AddEditModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body" id="modalBody">

                </div>



                <div class="modal-footer">

                    <div class="row">
                        <div class="col">

                            <a href="#" class=" btn btn-outline-dark py-3 mx-md-2" id="btnReset">Reset</a>

                            <a href="#" class="btn btn-outline-danger py-3 mx-md-2" id="btnCancle">Close</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="DeleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Delete Record</h1>
                    <button type="button" class="btn-close text-bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>


                <div class="modal-body">

                    <h2 class="text-center text-danger fs-3">ARE YOU SURE YOU WANT TO DELETE RECORD <span id="deleteId"></span>?</h2>
                    <input type="hidden" id="ID" />
                    <div class="d-grid gap-2 col-md-12 mx-auto">
                        <input type="submit" id="btnDelete" onclick="DeleteRecord()" class="btn btn-danger" value="Delete" />
                    </div>
                </div>


            </div>


        </div>
    </div>


</div>
@*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>


<script>
    $(document).ready(function () {

        var Smsg = $("#msg").text();
        if (Smsg != "") {
            alert(Smsg);
        }

        $("#btnReset").click(function () {
            $("#Company").val("");
            $("#Position").val("");
            $("#Started").val("");
            $("#Termination").val("");
            $("#YearsofExperience").val("");
        })

        $("#btnCancle").click(function () {
            $("#AddEditModal").modal("hide");
        })

    })


    var AddEdit = function (id) {
        $("#loaderDiv").show();
        var url = "/Applicant/AddEditWorkExperience?ID=" + id; //USED TO SEARCH ENTITY WITH ID

        $("#modalBody").load(url, function () {  // LOAD THE CONTENT FROM THE ACTION /ADDEDITRECORD
            $("#loaderDiv").hide();
            $("#AddEditModal").modal("show");
        })
    }



    var ConfirmDeleteRecord = function (id) {
        $("#ID").val(id);
        $("#DeleteModal").modal("show");
    }


    var DeleteRecord = function (_id) {
        let ID = _id;
        var Id = $("#ID").val();

        $.ajax({

            type: "POST",
            url: "/Applicant/DeleteWorkExperience",
            data: { ID: Id },
            success: function (result) {
                if (result == "1") {
                    $("#row_" + Id).remove();
                    alert("Record deleted (DEACTIVATED) successfully!");
                    window.location.href = "/Applicant/WorkExperience?UserID=" + ID;
                }
                else {
                    alert("Record not not deleted!");
                    window.location.href = "/Applicant/WorkExperience?UserID=" + ID;
                }
            }
        })


    }

</script>

