

@{
    ViewBag.Title = "States Branch";
}


@if (ViewBag.Msg != null)
{
    <p id="msg" style="display:none">@ViewBag.Msg</p>
}

<div id="bucket" class="m-3">
    <br />
    <input type="button" class="btn btn-outline-primary fw-bold px-3 fw-bolder" onclick="AddEdit('')" value="New State Branch" />
    <hr style="color:gray;" />


    <br />

    @if (ViewBag.AllStateBranches != null)
    {
        <div class="table-responsive">
            @{int i = 1; }
            @foreach (var stB in ViewBag.AllStateBranches as List<Recruitment_Portal_System.Models.StateBranch>)
            {
                var ItemCount = ViewBag.StateBranchCount;
                <b>
                    @if (i <= ItemCount)
                    {
                        <button type="button" class="btn btn-light mt-2 float-r">
                            <span class="badge text-bg-primary fw-bolder">State Branch @i</span>
                        </button>

                    }
                    <br />
                </b>

                <b class="me-4">
                    <a href="#" class="text-success" onclick="AddEdit('@stB.Id')"><span class="fa fa-2x fa-pencil-square-o"></span> </a>
                </b>
                <b class="me-4">
                    <a href="#" class="text-danger" onclick="ConfirmDeleteRecord('@stB.Id')"><span class="fa fa-2x fa-trash-o"></span> </a>
                </b>
                <br />
                <br />
                <b>Profile::</b>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Branch Address</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row_@stB.Id">
                            <td> @stB.Name </td>
                            <td> @stB.Address </td>
                            <td> @stB.Description</td>
                        </tr>
                    </tbody>
                </table>

                i++;

            }

        </div>


    }

    @* MODAL BELLOW IS USED  FOR NEW/EDIT RECORD *@
    <div class="modal fade" id="AddEditModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="modalBody">

                </div>
                <div class="modal-footer">

                    <div class="row">
                        <div class="col">

                            <a href="#" class=" btn btn-outline-dark py-3 mx-md-2" id="btnReset">Reset</a>

                            <a href="#" class="btn btn-outline-danger py-3 mx-md-2" id="btnCancle">Close</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="DeleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Delete Record</h1>
                    <button type="button" class="btn-close text-bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>


                <div class="modal-body">

                    <h2 class="text-center text-danger fs-3">ARE YOU SURE YOU WANT TO DELETE RECORD <span id="deleteId"></span>?</h2>
                    <input type="hidden" id="ID" />
                    <div class="d-grid gap-2 col-md-12 mx-auto">
                        <input type="submit" id="btnDelete" onclick="DeleteRecord()" class="btn btn-danger" value="Yes Delete" />
                    </div>
                </div>


            </div>


        </div>
    </div>




</div>


@*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var Smsg = $("#msg").text();
        if (Smsg.trim() != "") {
            alert(Smsg);
        }

        $("#loaderDiv1").hide();

        $("#btnSearch").click(function () {
            $("#loaderDiv1").show();
        });


        $("#btnReset").click(function () {
            $("#Name").val("");
            $("#Address").val("");
            $("#Description").val("");
        })

        $("#btnCancle").click(function () {
            $("#AddEditModal").modal("hide");
        })

    })

    var AddEdit = function (id) {
        $("#loaderDiv11").show();
        var url = "/Admin/AddEditStateBranch?ID=" + id; //USED TO SEARCH ENTITY WITH ID

        $("#modalBody").load(url, function () {  // LOAD THE CONTENT FROM THE ACTION /ADDEDITRECORD
            $("#loaderDiv").hide();
            $("#AddEditModal").modal("show");
        })
    }



    var ConfirmDeleteRecord = function (id) {
        $("#ID").val(id);
        $("#DeleteModal").modal("show");
    }


    var DeleteRecord = function () {

        var Id = $("#ID").val();

        $.ajax({

            type: "POST",
            url: "/Admin/DeleteStateBranch",
            data: { ID: Id },
            success: function (result) {
                if (result == true) {
                    $("#row_" + Id).remove();
                    alert("Record deleted successfully!");
                    window.location.href = "/Admin/StateBranch";
                }
                else {
                    window.location.href = "/Admin/StateBranch";
                }
            }
        })


    }

</script>