@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item">

                <a href="@Url.Action("Index","Manage", routeValues:null)" id="loginLink" class="nav-link"><i class="fa fa-user-plus p-2 text-primary"></i> User Password Management</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off p-2 text-danger"></i> Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Register","Account")"><i class="fa fa-user-circle-o p-2 text-primary"></i> Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("CreateProfile","Applicant")"><i class="fa fa-user-circle-o p-2 text-primary"></i>Applicant Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Login","Account")"><i class="fa fa-user-circle-o p-2 text-primary"></i> Log In</a>
        </li>
    </ul>
}
